@model IEnumerable<BloggyBlues.Models.Post>

@foreach (var model in Model)
{
    <div class="text-center" id="@(model.Title)-@(model.ID)">
        <h3 id="Title-@(model.ID)">
            @Html.DisplayFor(modelItem => model.Title)
        </h3>
        <p id="Author&Date-@(model.ID)">
            By: @Html.DisplayFor(modelItem => model.Author) | Published : @Html.DisplayFor(modelItem => model.PublishedDate)
        </p>
        <p id="Content-@(model.ID)">
            @Html.DisplayFor(modelItem => model.Content)
        </p>

        @Html.ActionLink("Edit", "Edit", new { id = model.ID }, new { @class = "button tiny" })
        @Html.ActionLink("Details", "Details", new { id = model.ID }, new { @class = "button tiny" })
        @Html.ActionLink("Delete", "Delete", new { id = model.ID }, new { @class = "button tiny" })
    </div>
    <hr />
}