@model BloggyBlues.Models.Post

@{
    ViewBag.Title = "Details";
}

<div class="text-center">
    <h2>Details</h2>
    <br />
    <br />
</div>


<div class="text-center" id="Title">
    <h3 id="Title">
        @Html.DisplayFor(model => model.Title)
    </h3>
    <p id="Author&Date">
        By: @Html.DisplayFor(model => model.Author) | Published : @Html.DisplayFor(model => model.PublishedDate)
    </p>
    <p id="Content">
        @Html.DisplayFor(model => model.Content)
    </p>

    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "button tiny" })
    @Html.ActionLink("Details", "Details", new { id = Model.ID }, new { @class = "button tiny" })
    @Html.ActionLink("Delete", "Delete", new { id = Model.ID }, new { @class = "button tiny" })
</div>
<hr />
